### Домашная работа (Logistic regression, SVM)

In [ ]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
print ('Hello')
data = pd.read_csv('adult.csv')
data.head()

Hello

   age  workclass  fnlwgt  ... hours-per-week  native-country income
0   25    Private  226802  ...             40   United-States  <=50K
1   38    Private   89814  ...             50   United-States  <=50K
2   28  Local-gov  336951  ...             40   United-States   >50K
3   44    Private  160323  ...             40   United-States   >50K
4   18          ?  103497  ...             30   United-States  <=50K

[5 rows x 15 columns]

In [112]:
#selectedColumns = data [ ['age', 'workclass', 'education', 'occupation'] ]

#X = pd.get_dummies(selectedColumns, columns = ['workclass' , 'education', 'occupation'])
selectedColumns = data [['education', 'occupation']]
X = pd.get_dummies(selectedColumns, columns = ['education', 'occupation'])
X.head()

   education_10th  ...  occupation_Transport-moving
0               0  ...                            0
1               0  ...                            0
2               0  ...                            0
3               0  ...                            0
4               0  ...                            0

[5 rows x 31 columns]

In [113]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [114]:
le.fit(data['income'])

LabelEncoder()

In [115]:
le.classes_

array(['<=50K', '>50K'], dtype=object)

In [116]:
y = pd.Series(data = le.transform(data ['income'] ))
y.head()

0    0
1    0
2    1
3    1
4    0
dtype: int64

In [117]:
model = LogisticRegression()

model.fit(X, y)

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [118]:
predictions = model.predict(X)
predictions[:20]

array([0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1])

In [120]:
model.score(X,y)

0.7859629007821137